<div class="min-w-96 max-w-96 p-4 sm:bg-white shadow-none sm:shadow-md rounded-md">
    <div class="text-center w-full mb-4">
        <h1 class="font-semibold">Admin Login</h1>
        <p class="text-black/50 text-[.625rem]">Hello, enter your details here to login into the dashboard.</p>
    </div>

    <form class="flex flex-col gap-2" [formGroup]="loginForm">
        <div class="flex flex-col gap-1">
            <label for="username" class="text-xs">Username</label>
            <input class="bg-gray-50 border border-gray-200 text-xs p-2 peer placeholder:text-xs rounded" placeholder="Enter Username..." type="text" formControlName="username">
            <div class="text-red-500 text-[.625rem]" *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].touched || loginForm.controls['username'].dirty)">
                <span *ngIf="loginForm.controls['username'].errors?.['required']">Username required</span>
            </div>
        </div>
        <div class="flex flex-col gap-1">
            <label for="password" class="text-xs">Password</label>
            <div class="relative flex justify-center items-center">
                <input class="bg-gray-50 border flex-1 border-gray-200 text-xs p-2 peer placeholder:text-xs rounded" placeholder="Enter Password..." type="password" formControlName="password">
                <i class="pi pi-eye absolute right-2"></i>
            </div>
            <div class="text-red-500 text-[.625rem]" *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty)">
                <span *ngIf="loginForm.controls['password'].errors?.['required']">Password required</span>
            </div>
            <a class="self-end text-xs text-primary" href="#">
                Forgot password?
            </a>
        </div>
        <button class="rounded-md bg-primary text-white font-medium text-sm p-2 hover:bg-primary/90 transition-colors">
            Sign In
        </button>
    </form>
</div>