<p-toast/>
<div class="flex justify-between">
    <h2 class="text-2xl font-semibold mb-2">List Employee</h2>
    <button routerLink="/employees/add" class="flex items-center gap-1 bg-primary text-white font-semibold p-2 transition-colors duration-200 hover:bg-primary/70" style="border-radius: .25rem;">
        <i class="pi pi-plus"></i> <span>Add Employee</span>
    </button>
</div>
<div class="flex flex-col mb-4">
    <h3 class="mb-2">Filter:</h3>
    <form class="flex flex-wrap gap-2 gap-y-4" [formGroup]="filterForm" (ngSubmit)="onSubmit()">
        <div class="relative">
            <input class="flex-1 rounded-md" type="text" id="username" formControlName="username">
            <label for="username" class="absolute left-2 -top-3 p-1 text-xs bg-white">Username</label>
        </div>
        <div class="relative">
            <input class="flex-1 rounded-md" type="text" id="firstName" formControlName="firstName">
            <label for="firstName" class="absolute left-2 -top-3 p-1 text-xs bg-white">First Name</label>
        </div>
        <div class="relative">
            <input class="flex-1 rounded-md" type="text" id="lastName" formControlName="lastName">
            <label for="lastName" class="absolute left-2 -top-3 p-1 text-xs bg-white">Last Name</label>
        </div>
        <button type="submit" class="flex-1 bg-primary text-white font-semibold p-2 px-4 hover:bg-primary/70 transition-colors duration-200" style="border-radius: .5rem;">Search</button>

    </form>
</div>
<p-table [value]="employees" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th>
                No
            </th>
            <th pSortableColumn="username">
                Username <p-sortIcon field="username" />
            </th>
            <th pSortableColumn="firstName">
                First Name <p-sortIcon field="firstName" />
            </th>
            <th pSortableColumn="lastName" style="width:50rem">
                Last Name <p-sortIcon field="lastName" />
            </th>
            <th pSortableColumn="email" style="width:fit-content">
                Email <p-sortIcon field="email" />
            </th>
            <th pSortableColumn="birthDate" style="width:fit-content">
                Birth Date <p-sortIcon field="birthDate" />
            </th>
            <th pSortableColumn="basicSalary" style="width:fit-content">
                Basic Salary <p-sortIcon field="basicSalary" />
            </th>
            <th pSortableColumn="status" style="width:fit-content; text-align: center;">
                Status <p-sortIcon field="status" />
            </th>
            <th pSortableColumn="group" style="width:fit-content">
                Group <p-sortIcon field="group" />
            </th>
            <th pSortableColumn="description" style="width:fit-content">
                Description <p-sortIcon field="description" />
            </th>
            <th style="width: 22rem;text-align: center;">
                Action
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee let-rowIndex="rowIndex">
        <tr class="row-hover cursor-pointer" (click)="onSelect(employee.id)">
            <td>{{ rowIndex + (page * rows) + 1 }}</td>
            <td>{{ employee.username }}</td>
            <td style="min-width: 10rem;">{{ employee.firstName }}</td>
            <td style="min-width: 10rem;">{{ employee.lastName }}</td>
            <td style="min-width: 10rem;">{{ employee.email }}</td>
            <td style="min-width: 10rem;">{{ employee.birthDate | convertDate }}</td>
            <td style="min-width: 10rem;">{{ employee.basicSalary | currencyRupiah }}</td>
            <td style="min-width: 10rem; text-align: center;" class="text-white text-xs">
                <span class="p-1 px-4 rounded-full" [ngClass]="{'bg-red-300': employee.status == 'Deactive', 'bg-green-300': employee.status == 'Active'}">{{ employee.status }}</span>
            </td>
            <td style="min-width: 10rem;">{{ employee.group }}</td>   
            <td style="min-width: 10rem;">{{ employee.description | truncate }}</td>
            <td>
                <div class="flex gap-2">
                    <button (click)="onEdit($event, employee)" class="flex items-center gap-2 p-2 font-semibold bg-primary text-white hover:bg-primary/70 transition-colors duration-200" style="border-radius: .25rem;">
                        <i class="pi pi-pencil"></i><span>Edit</span>
                    </button>

                    <button (click)="onDelete($event, employee)" class="flex items-center gap-2 p-2 font-semibold bg-red-600 text-white hover:bg-red-600/70 transition-colors duration-200" style="border-radius: .25rem;">
                        <i class="pi pi-trash"></i><span>Delete</span>
                    </button>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="11" style="text-align: center;">No Employees found.</td>
        </tr>
    </ng-template>
</p-table>


<p-paginator
    (onPageChange)="onPageChange($event)"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5,10,20]"
    #paginator
/>
